.list-page {
  height: 100%;
  // background-color: var(--theme-color);
  background: linear-gradient(to bottom, #121f83 20%, #ffffff);
  overflow: scroll;
  margin-bottom: 24PX;

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8PX);
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8PX 0;
    .icon {
      position: absolute;
      top: 8PX;
      left: 8PX;
      height: 100%;
      color: #fff;
    }

    .title {
      color: #fff;
      font-size: 16PX;
      font-weight: 500;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12PX 6PX;
    margin-bottom: 24PX;
    gap: 8PX;

    .item {
      backdrop-filter: saturate(200%) blur(8PX);
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 8PX;
      padding: 12PX 12PX;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 12PX;
      box-shadow: 0 3PX 8PX rgba(0, 0, 0, 0.04);

      &__cover {
        width: 20%;
        border-radius: 8PX;
        height: 74PX;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 4PX;

        .title {
          font-size: 16PX;
          font-weight: 500;

          display: flex;
          align-items: center;
          gap: 6PX;

          .icon {
            font-size: 18PX !important;
            color: #ffd700;
          }
        }

        .desc {
          color: #8c8c8c;
          font-size: 12PX;
          font-weight: 400;
        }

        .tag-list {
          margin-top: 4PX;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 8PX;
          .tag {
            padding: 0 12PX;
            font-size: 12PX;
            // background-color: var(--theme-color);
            // border-color: var(--theme-color);
            // color: #fff;
          }
        }
      }
    }
  }
}
