.detail-page {
  height: 100%;

  &__navbar {
    background-color: var(--theme-color);
    .at-nav-bar__title {
      color: #fff;
      font-size: 16px;
    }
    .at-nav-bar__text {
      font-size: 16px;
    }
    .at-nav-bar__left-view {
      background-color: transparent !important;
    }
  }
}
