.index-page {
  height: 100%;
  background: linear-gradient(to bottom, #121f83 20%, #ffffff);
  // #ede9fe
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-direction: column;

  &__banner {
    margin-top: -20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      height: 640px;
      width: 640px;
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;

    .btn {
      flex: 1;
      border-radius: 12px;
    }

    .normal-btn {
      color: #121f83;

      .at-loading__ring {
        border-color: var(--theme-color) transparent transparent transparent;
      }
    }
  }

  &__help-text {
    position: absolute;
    bottom: 24PX;
    color: var(--theme-color);
    text-decoration: underline;
    font-weight: 500;
  }
}
