.help-page {
  height: 100%;
  background: linear-gradient(to bottom, #121f83 20%, #ffffff);

  &__navbar {
    background-color: var(--theme-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8PX 0;
    .icon {
      position: absolute;
      top: 8PX;
      left: 8PX;
      height: 100%;
      color: #fff;
    }

    .title {
      color: #fff;
      font-size: 16PX;
      font-weight: 500;
    }
  }
  &__banner {
    width: 100%;
    // height: 50PX;
    display: flex;
    justify-content: center;
  }
  &__content {
    margin: 12PX 24PX;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    gap: 18PX;

    .block {
      display: flex;
      flex-direction: column;
      gap: 4PX;
      .title {
        font-weight: 500;
      }
      .content {
        color: #fff;
      }
    }
  }
}
