.random-page {
  height: 100%;
  &__navbar {
    background-color: var(--theme-color);
    .at-nav-bar__title {
      color: #fff;
      font-size: 16PX;
      font-weight: 500;
    }
    .at-nav-bar__text {
      font-size: 16PX;
    }
    .at-nav-bar__left-view {
      background-color: transparent !important;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
